
<h1>You fell in love with: <%= thingVar %></h1>
<% if(thingVar.toLowerCase() === "isaiah"){ %>
<p>I smell lots of butts everyday!!</p>
<% } else { %>
    <p>Bad Choice! Isaiah does _____</p>
    <% } %>
<p>This is the love.ejs file!</p>