<!-- Link tag -->

<link rel="stylesheet" href="app.css">

<h1>The Posts page!!!</h1>

<% posts.forEach(function(post){ %>
<li>
    <em><%= post.title %></em> -  <strong><%= post.author %></strong>
</li>
<% }) %>
