<% include ../partials/header %>

<div class="container">

<header class="jumbotron">
    <h1>Welcome to YelpCamp!</h1>
    <p class="lead">To view all of our campgrounds, click <a href="/campgrounds">Here.</a></p>
</header>





</div>

<% include ../partials/footer %>