<h1>This is the secret page!</h1>

<p>Duh duh duh</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA7mwOvvc8q7HnXc3DFJo6ha9MXo02lvF8T64a93e3RyK8yDNYHQ">

<ul>
    <li><a href="/register">Sign Up!</a></li>
    <li><a href="/login">Login!</a></li>
    <li><a href="/logout">Logout!</a></li>
</ul>