<% include partials/header %>

<header class="jumbotron">
    <h1>Create a new campground!</h1>
</header>



<form action="/campgrounds" method="POST">
<input type="text" placeholder="Name" name="name">
<input type="text" placeholder="Image URL" name="image">
<button class="">Submit!</button>
</form>

<a href="/campgrounds">Go back to /campgrounds page!</a>
<% include partials/footer %>